{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <h2>Console commands for import:</h2>
            <p><code>docker-compose run --rm php-cli php bin/console import:categories</code></p>
            <p><code>docker-compose run --rm php-cli php bin/console import:products</code></p>
        </div>
        <div class="col-md-6">
            <h2><a href="http://localhost:8080/" target="_blank">Mailhog for messages</a></h2>
        </div>

{% endblock %}