{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Products</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        <a href="{{ path('product.create') }}" class="btn btn-success">Add Product</a>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-lg-1">{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>Categories</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'title') }}</th>
                <th class="col-lg-1">{{ knp_pagination_sortable(pagination, 'Price', 'price') }}</th>
                <th class="col-lg-1">{{ knp_pagination_sortable(pagination, 'eId', 'e_id') }}</th>
                <th class="col-lg-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('delete') %}
            {% for product in pagination %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>
                        <ul class="list-unstyled my-0">
                            {% for category in product.categories %}
                                <li>{{ category.title }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.e_id }}</td>
                    <td>
                        <div class="d-flex flex-row">
                            <a href="{{ path('product.edit', {'id': product.id}) }}" class="btn btn-sm btn-primary mr-1"><span class="fa fa-pencil"></span></a>
                            <form action="{{ path('product.delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="token" value="{{ token }}"/>
                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}