{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello!</p>

    Product id={{ product.id }} was updated. Now it looks like this:
    <ul>
        <li> title - {{ product.title }}</li>
        <li> categories:
            <ul>
                {% for category in product.categories %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </li>
        <li> price - {{ product.price }}</li>
        {% if product.eId %}
            <li> eId - {{ product.eId }}</li>
        {% endif %}
    </ul>


{% endblock %}