{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello!</p>

    <p>
        New Product:
    <ul>
        <li>id - {{ product.id }}</li>
        <li> title - {{ product.title }}</li>
        <li> categories:
            <ul>
                {% for category in product.categories %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </li>
        <li> price - {{ product.price }}</li>
        {% if product.eId %}
            <li> eId - {{ product.eId }}</li>
        {% endif %}
    </ul>
    was created!
    </p>

{% endblock %}