{% extends '@KnpMenu/menu.html.twig' %}

{% block label %}
    {%- set label = item.label -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {% if matcher.isCurrent(item) %}
            {% do item.setLinkAttribute('class', item.getLinkAttribute('class') ~ ' ' ~ options.currentClass) %}
        {% endif %}
        {{ parent() }}
    {% endif %}
{% endblock %}